<a href="https://colab.research.google.com/github/SamuelMiller413/Coding-Nomads-Deep-Learning-Miniproject-1/blob/master/dl_miniproject_1_tabular_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Loading and Splitting

In [1]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (2).json

{'kaggle.json': b'{"username":"samuelmiller413","key":"d635e1518efc064bb478bb67bb2c22aa"}'}

In [4]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [5]:
! cp kaggle.json ~/.kaggle/

In [6]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

In [9]:
! kaggle datasets download -d 'abisheksudarshan/customer-segmentation'

customer-segmentation.zip: Skipping, found more recently modified local copy (use --force to force download)

In [17]:
! mkdir customer-segmentation
! cd.. customer-segmentation/ 
! unzip customer-segmentation.zip -d customer-segmentation/
! rm -r customer-segmentation.zip

/bin/bash: cd..: command not found
unzip:  cannot find or open customer-segmentation.zip, customer-segmentation.zip.zip or customer-segmentation.zip.ZIP.
rm: cannot remove 'customer-segmentation.zip': No such file or directory

## Setup

In [20]:
%%capture
# Install libraries
import numpy as np 
import pandas as pd 
import pprint
                                                                          # PRE-PROCESSING
from sklearn.preprocessing import StandardScaler
                                                                          # FEATURE SELECTION
from sklearn.neighbors import KNeighborsRegressor
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import SelectFromModel, mutual_info_regression, RFE, RFECV

                                                                          # PIPELINE
from sklearn.pipeline import Pipeline
                                          
                                                                          # NEURAL NETWORK
from sklearn.neural_network import MLPRegressor

                                                                          # CROSS VALIDATION
from sklearn.model_selection import train_test_split, cross_val_score, ShuffleSplit, StratifiedKFold
from sklearn.model_selection import learning_curve, cross_val_predict
from sklearn.model_selection import KFold, RandomizedSearchCV

                                                                          # EVALUATION
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error, r2_score
from sklearn.metrics import silhouette_score
from sklearn.metrics import SCORERS

                                                                          # PLOTTING
# from plotting import plot_learning_curve, plot_validation_curve
import random
import matplotlib.pyplot as plt
import seaborn as sns

## Download the dataset

In [ ]:
csv_train = '/content/customer-segmentation/train.csv'
csv_test = '/content/customer-segmentation/test.csv'
train_df = pd.read_csv(csv_train)
test_df = pd.read_csv(csv_test)

## Split your data

Data came pre-split

# EDA & data visualization

In [21]:
train_df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [22]:
test_df.sample()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
546,460769,Female,Yes,83,No,Lawyer,1.0,High,2.0,Cat_6

# Feature engineering and transformation

In [ ]:
# Your code here

# Traditional ML modeling

In [ ]:
# Your code here

# Pure `torch` model

In [ ]:
# Your code here

# High-level libraries and tabular frameworks

In [ ]:
# Your code here

# Model selection and test set evaluation

In [ ]:
# Your code here

# Notes and findings

What did you learn?